.flexRow--navbar{
    background-color: black;
}
.flexCol--wrapper__col{
    flex-direction: row;
    justify-content: space-evenly;
}
.flexRow--threeItens{
    width: 90vw;
    margin: 0;
    margin: 0 auto 150px;
}
.flexRow--navbar{
    position: fixed;
    width: 100%;
    z-index: 5;
}
.flexRow--introProducts{
    margin-top: 50px;
}